<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.basic.prevoz">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:name=".Helper.MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppThemeNoActionBar">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_api_key_places" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activitys.DodajNoviPrevoz.NoviPrevozStaniceActivity"
            android:label="@string/title_stanice"
            android:theme="@style/AppThemeNoActionBar" >

        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.basic.prevoz.Activitys.DodajNoviPrevoz.NoviPrevozTipPrevozaActivity" />
</activity>
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".NavigationDrawerActivity"
            android:label="@string/app_name"
            android:theme="@style/AppThemeNoActionBar" />
        <activity android:name=".Activitys.DodajNoviPrevoz.NoviPrevozVrijemeActivity">
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.basic.prevoz.Activitys.DodajNoviPrevoz.NoviPrevozStaniceActivity" />
        </activity>
        <activity android:name=".Activitys.DodajNoviPrevoz.NoviPrevozTipPrevozaActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".NavigationDrawerActivity" />
        </activity>
        <activity android:name=".Activitys.MessageActivity" />
        <activity
            android:name=".Activitys.ProfilActivity"
            android:theme="@style/AppThemeNoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.basic.prevoz.Activitys.PrijateljiActivity" />
        </activity>
        <activity
            android:name=".Activitys.PrijateljiActivity"
            android:theme="@style/AppThemeNoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.basic.prevoz.NavigationDrawerActivity" />
        </activity>
        <activity
            android:name=".Activitys.PrevozDetaljiActivity"
            android:theme="@style/AppThemeNoActionBar"
            android:label="">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.basic.prevoz.NavigationDrawerActivity" />
        </activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        ...
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>

        <service android:name=".Services.ChatMessageService"></service>

        <service android:name=".Firebase.NotificationFirebaseMessageService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <!--
     Set custom default icon. This is used when no icon is set for incoming notification messages.
     See README(https://goo.gl/l4GJaQ) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_stat_name" />
        <!--
             Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />

        <activity android:name=".Activitys.ChatActivity"></activity>
    </application>

</manifest>